## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [53]:
# Your code here

sample_list_1 = random.sample(range(0,100),80)

print("This sample has", len(sample_list_1), "random values")
print(sample_list_1)

This sample has 80 random values
[2, 68, 94, 47, 21, 49, 34, 37, 9, 54, 26, 10, 84, 95, 23, 98, 52, 42, 65, 16, 11, 13, 71, 19, 36, 88, 43, 40, 3, 6, 58, 73, 60, 27, 18, 87, 24, 81, 8, 99, 93, 35, 5, 14, 57, 38, 89, 82, 31, 97, 76, 48, 28, 59, 33, 41, 32, 25, 79, 85, 80, 83, 50, 96, 51, 86, 91, 78, 66, 39, 77, 44, 75, 29, 1, 62, 7, 12, 17, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [54]:
# Your code here

set1 = set(sample_list_1)
print(len(set1),len(set1)==80)

80 True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [55]:
# Your code here

import random

sample_list_2 = []

for j in range(80):
    sample_list_2.append(random.randint(0,100))
    
print("This sample has", len(sample_list_2), "random values")
print(sample_list_2)

This sample has 80 random values
[44, 56, 46, 53, 29, 33, 1, 26, 6, 51, 65, 24, 10, 51, 25, 54, 15, 32, 76, 90, 55, 0, 68, 29, 95, 81, 95, 19, 40, 93, 12, 64, 66, 35, 45, 33, 79, 1, 85, 52, 26, 82, 64, 15, 72, 98, 51, 8, 94, 44, 18, 27, 93, 44, 86, 51, 84, 2, 44, 67, 54, 77, 68, 38, 96, 20, 79, 14, 35, 79, 26, 60, 86, 14, 31, 60, 51, 77, 26, 9]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [56]:
# Your code here

set2 = set(sample_list_2)

print(len(set2), len(set2)==80)

54 False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
# Your code here

set3 = [item for item in set1 if item not in set2]

print("Set3 is",set3)

Set3 is [3, 5, 7, 11, 13, 16, 17, 21, 23, 28, 34, 36, 37, 39, 41, 42, 43, 47, 48, 49, 50, 57, 58, 59, 62, 69, 71, 73, 75, 78, 80, 83, 87, 88, 89, 91, 97, 99]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
# Your code here

set4 = [item for item in set2 if item not in set1]

print(set4)

[0, 15, 20, 45, 46, 53, 55, 56, 64, 67, 72, 90]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{1, 2, 6, 8, 9, 10, 12, 14, 18, 19, 24, 25, 26, 27, 29, 31, 32, 33, 35, 38, 40, 44, 51, 52, 54, 60, 65, 66, 68, 76, 77, 79, 81, 82, 84, 85, 86, 93, 94, 95, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
# Your code here

print("Set1 is",len(set1))
print("Set2 is",len(set2))
print("Set3 is",len(set3))
print("Set4 is",len(set4))
print("Set5 is",len(set5))

Set1 is 80
Set2 is 54
Set3 is 38
Set4 is 12
Set5 is 42

In [61]:
# P(A & not-B) = P(A) - P(A & B)
len(set3) == len(set1)-len(set5)

True

In [62]:
# P(not-A & B) = P(B) - P(A & B)
len(set4) == len(set2)-len(set5)

True

#### Create an empty set called `set6`.

In [63]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [64]:
# Your code here

set6.update(set3,set5)
print(set6)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 54, 57, 58, 59, 60, 62, 65, 66, 68, 69, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [65]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [66]:
# Your code here

set1.issubset(set2)

False

In [67]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [68]:
# Your code here

print("set3 U set4 U set5 :", set3.union(set4,set5))
print("set1 U set2 :", set1.union(set2))

AttributeError: 'list' object has no attribute 'union'

#### Using the `pop` method, remove the first element from `set1`.

In [70]:
# Your code here

set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [97]:
# Your code here

remaining_elements = [element for element in list_to_remove if element in set1]
print(remaining_elements)

[11, 21, 31, 41, 51, 71, 81, 91]